@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.beer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beer-container-inner {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.beer-container .no-result-found {
    height: 69vh;
    align-items: center;
    display: flex;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: unset;
}

header {
    text-align: center;
}

footer {
    color: #333;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.beer-card {
    width: 20%;
    background: #fff;
    padding: 10px;
    position: relative;
}
@media only screen and (max-width: 600px) {
    .beer-card {
        width: 50%;
    }
}

span.beer-id {
    position: absolute;
    right: 30px;
    top: 18px;
    opacity: 0.6;
}

.beer-card-inner {
    padding: 8px;
    border: 1px solid #fff;
    transition: box-shadow .3s;
    border-radius: 2px;
    cursor: pointer;
    max-height: 460px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.beer-tagline {
    min-height: 30px;
    color: #535766;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0 !important;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: start;
}

.beer-brewed-date {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.target {
    margin-bottom: 10px !important;
}

.og {
    text-decoration: line-through;
    color: #7e818c;
    line-height: 1;
    font-size: 13px;
    margin-left: 5px !important;
}

.fg {
    font-size: 14px;
    color: #000000;
    line-height: 16px;
    font-weight: 500;
}

.abv-ibu-value {
    font-weight: 500;
}

.ibu-value {
    /*padding-left: 15px;*/
}

.beer-abv-ibu {
    /*padding-left: 5px;*/
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    /*font-size: 15px;*/
}

.beer-details {
    padding: 0 10px;
}

.beer-name {

    /*text-transform: uppercase;*/
    margin-top: 10px !important;
    /*color: #000000;*/
    /*line-height: 23px;*/
    min-height: 33px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 3px !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.beer-card-inner:hover {
    /*box-shadow: 0 0 11px rgba(33, 33, 33, .2);*/
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.beer-image {
    text-align: center;
    margin-bottom: 5px !important;
    padding-bottom: 100%;
    position: relative;
}

.beer-image img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: contain;
    left: 0;

}

.search-button {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 7px;
    margin: 0;
    min-height: 45px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

.search-button:before,
.search-button:after {
    border-radius: 80px;
}

.search-button:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.search-button:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.search-button:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}

.search-button:active:not(:disabled) {
    color: #ccc;
}

.search-button:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.search-button:disabled {
    cursor: default;
    opacity: .24;
}

.load-more-button {
    --b: 3px; /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.load-more-button:hover,
.load-more-button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.load-more-button:active {
    background: var(--color);
    color: #fff;
}
